In [4]:
import numpy as np # linear algebra
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from pathlib import Path
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file

In [5]:
df = pd.read_csv('FoodAccessResearchAtlasData2019.csv',encoding= 'unicode_escape')
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 72531 rows and 147 columns

In [6]:
df.describe

<bound method NDFrame.describe of        ï»¿CensusTract    State           County  Urban  Pop2010  OHU2010  \
0          1001020100  Alabama   Autauga County      1     1912      693
1          1001020200  Alabama   Autauga County      1     2170      743
2          1001020300  Alabama   Autauga County      1     3373     1256
3          1001020400  Alabama   Autauga County      1     4386     1722
4          1001020500  Alabama   Autauga County      1    10766     4082
...               ...      ...              ...    ...      ...      ...
72526     56043000200  Wyoming  Washakie County      0     3326     1317
72527     56043000301  Wyoming  Washakie County      1     2665     1154
72528     56043000302  Wyoming  Washakie County      1     2542     1021
72529     56045951100  Wyoming    Weston County      0     3314     1322
72530     56045951300  Wyoming    Weston County      1     3894     1699

       GroupQuartersFlag  NUMGQTRS  PCTGQTRS  LILATracts_1And10  ...  \
0                      0       0.0      0.00                  0  ...
1                      0     181.0      8.34                  1  ...
2                      0       0.0      0.00                  0  ...
3                      0       0.0      0.00                  0  ...
4                      0     181.0      1.68                  0  ...
...                  ...       ...       ...                ...  ...
72526                  0      57.0      1.71                  0  ...
72527                  0      10.0      0.38                  0  ...
72528                  0      73.0      2.87                  0  ...
72529                  0     252.0      7.60                  0  ...
72530                  0      61.0      1.57                  0  ...

       TractSeniors  TractWhite  TractBlack  TractAsian  TractNHOPI  \
0             221.0      1622.0       217.0        14.0         0.0
1             214.0       888.0      1217.0         5.0         0.0
2             439.0      2576.0       647.0        17.0         5.0
3             904.0      4086.0       193.0        18.0         4.0
4            1126.0      8666.0      1437.0       296.0         9.0
...             ...         ...         ...         ...         ...
72526         593.0      3106.0         6.0        15.0         0.0
72527         399.0      2377.0         5.0        23.0         0.0
72528         516.0      2312.0        11.0        10.0         1.0
72529         499.0      3179.0        15.0        10.0         1.0
72530         650.0      3706.0         6.0        10.0         2.0

       TractAIAN  TractOMultir  TractHispanic  TractHUNV  TractSNAP
0           14.0          45.0           44.0        6.0      102.0
1            5.0          55.0           75.0       89.0      156.0
2           11.0         117.0           87.0       99.0      172.0
3           11.0          74.0           85.0       21.0       98.0
4           48.0         310.0          355.0      230.0      339.0
...          ...           ...            ...        ...        ...
72526       27.0         172.0          309.0       61.0       64.0
72527       40.0         220.0          446.0       88.0       41.0
72528       26.0         182.0          407.0       23.0       64.0
72529       47.0          62.0           91.0       47.0       34.0
72530       44.0         126.0          125.0       34.0      110.0

[72531 rows x 147 columns]>

In [7]:
df.head()

,ï»¿CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0

In [8]:
df_ed = df.iloc[:, 0:10]
display(df_ed.head())
display(df_ed.describe())

,ï»¿CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0

,ï»¿CensusTract,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10
count,7.253100e+04,72531.000000,72531.000000,72531.000000,72531.000000,72506.000000,72506.000000,72531.000000
mean,2.782573e+10,0.760626,4256.739022,1609.191821,0.007114,110.121549,2.708677,0.128125
std,1.581647e+10,0.426704,1955.987626,725.676046,0.084046,443.931753,9.570875,0.334231
min,1.001020e+09,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.212708e+10,1.000000,2899.000000,1108.000000,0.000000,0.000000,0.000000,0.000000
50%,2.712979e+10,1.000000,4011.000000,1525.000000,0.000000,7.000000,0.180000,0.000000
75%,4.103900e+10,1.000000,5330.500000,2021.000000,0.000000,64.000000,1.570000,0.000000
max,5.604595e+10,1.000000,37452.000000,16043.000000,1.000000,19496.000000,100.000000,1.000000

In [9]:
df_ed.columns

Index(['ï»¿CensusTract', 'State', 'County', 'Urban', 'Pop2010', 'OHU2010',
       'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'LILATracts_1And10'],
      dtype='object')

In [10]:
# Import plotly
import plotly.express as px

In [14]:
countnocar = df.groupby(['State'])['TractHUNV'].count()
countnocar

State
Alabama                 1178
Alaska                   166
Arizona                 1520
Arkansas                 686
California              8024
Colorado                1242
Connecticut              828
Delaware                 214
District of Columbia     179
Florida                 4182
Georgia                 1957
Hawaii                   321
Idaho                    298
Illinois                3115
Indiana                 1507
Iowa                     823
Kansas                   766
Kentucky                1110
Louisiana               1129
Maine                    351
Maryland                1390
Massachusetts           1467
Michigan                2756
Minnesota               1334
Mississippi              659
Missouri                1391
Montana                  271
Nebraska                 532
Nevada                   680
New Hampshire            292
New Jersey              2002
New Mexico               498
New York                4870
North Carolina          2175
North Dakota             205
Ohio                    2943
Oklahoma                1046
Oregon                   826
Pennsylvania            3210
Rhode Island             241
South Carolina          1091
South Dakota             219
Tennessee               1489
Texas                   5238
Utah                     585
Vermont                  183
Virginia                1886
Washington              1445
West Virginia            484
Wisconsin               1392
Wyoming                  131
Name: TractHUNV, dtype: int64

In [16]:
avenocarfar = df.groupby(['State'])['lahunv1'].mean()
avenocarfar

State
Alabama                 53.744720
Alaska                  87.476190
Arizona                 34.576287
Arkansas                53.463746
California              20.781621
Colorado                20.588364
Connecticut             32.359621
Delaware                34.988827
District of Columbia    76.944444
Florida                 34.139390
Georgia                 52.996027
Hawaii                  30.250000
Idaho                   26.348485
Illinois                36.162924
Indiana                 47.638330
Iowa                    27.474044
Kansas                  30.521610
Kentucky                57.979104
Louisiana               61.615642
Maine                   47.620061
Maryland                30.733333
Massachusetts           38.284222
Michigan                40.173333
Minnesota               33.947658
Mississippi             66.261682
Missouri                43.160273
Montana                 24.325203
Nebraska                20.173709
Nevada                  27.848485
New Hampshire           41.212454
New Jersey              37.061576
New Mexico              38.195652
New York                45.062351
North Carolina          48.009749
North Dakota            17.972973
Ohio                    48.011653
Oklahoma                36.436385
Oregon                  28.820388
Pennsylvania            50.611921
Rhode Island            40.371069
South Carolina          59.316047
South Dakota            29.403846
Tennessee               46.079158
Texas                   33.329223
Utah                    16.277641
Vermont                 38.616279
Virginia                41.104651
Washington              24.634276
West Virginia           75.478747
Wisconsin               36.854927
Wyoming                 31.190476
Name: lahunv1, dtype: float64

In [18]:
#Housing units without vehicle count beyond 1 mile from supermarket
nocarfar = df.groupby(['State'])['lahunv1'].sum()
nocarfar

State
Alabama                  58528.0
Alaska                   12859.0
Arizona                  37619.0
Arkansas                 35393.0
California               78700.0
Colorado                 18756.0
Connecticut              20516.0
Delaware                  6263.0
District of Columbia      2770.0
Florida                 104091.0
Georgia                  93379.0
Hawaii                    6897.0
Idaho                     6956.0
Illinois                 69252.0
Indiana                  63883.0
Iowa                     20111.0
Kansas                   20480.0
Kentucky                 58269.0
Louisiana                55146.0
Maine                    15667.0
Maryland                 29043.0
Massachusetts            36638.0
Michigan                 84364.0
Minnesota                36969.0
Mississippi              42540.0
Missouri                 50627.0
Montana                   5984.0
Nebraska                  8594.0
Nevada                   11028.0
New Hampshire            11251.0
New Jersey               45141.0
New Mexico               15813.0
New York                 94676.0
North Carolina           93571.0
North Dakota              3325.0
Ohio                    111243.0
Oklahoma                 30643.0
Oregon                   17811.0
Pennsylvania            114636.0
Rhode Island              6419.0
South Carolina           60621.0
South Dakota              6116.0
Tennessee                63451.0
Texas                   135150.0
Utah                      6625.0
Vermont                   6642.0
Virginia                 60095.0
Washington               27886.0
West Virginia            33739.0
Wisconsin                40393.0
Wyoming                   3930.0
Name: lahunv1, dtype: float64

In [17]:
#Population count from 2010 census by state
popstate = df.groupby(['State'])['Pop2010'].sum()
popstate

State
Alabama                  4779736
Alaska                    710231
Arizona                  6392017
Arkansas                 2915918
California              37253956
Colorado                 5029196
Connecticut              3574097
Delaware                  897934
District of Columbia      601723
Florida                 18801310
Georgia                  9687653
Hawaii                   1360301
Idaho                    1567582
Illinois                12830632
Indiana                  6483802
Iowa                     3046355
Kansas                   2853118
Kentucky                 4339367
Louisiana                4533372
Maine                    1328361
Maryland                 5773552
Massachusetts            6547629
Michigan                 9883640
Minnesota                5303925
Mississippi              2967297
Missouri                 5988927
Montana                   989415
Nebraska                 1826341
Nevada                   2700551
New Hampshire            1316470
New Jersey               8791894
New Mexico               2059179
New York                19378102
North Carolina           9535483
North Dakota              672591
Ohio                    11536504
Oklahoma                 3751351
Oregon                   3831074
Pennsylvania            12702379
Rhode Island             1052567
South Carolina           4625364
South Dakota              814180
Tennessee                6346105
Texas                   25145561
Utah                     2763885
Vermont                   625741
Virginia                 8001024
Washington               6724540
West Virginia            1852994
Wisconsin                5686986
Wyoming                   563626
Name: Pop2010, dtype: int64

In [ ]:
# Correlation matrix
def plotCorrelationMatrix(df, graphWidth):
    filename = df.dataframeName
    df = df.dropna('columns') # drop columns with NaN
    df = df[[col for col in df if df[col].nunique() > 1]] # keep columns where there are more than 1 unique values
    if df.shape[1] < 2:
        print(f'No correlation plots shown: The number of non-NaN or constant columns ({df.shape[1]}) is less than 2')
        return
    corr = df.corr()
    plt.figure(num=None, figsize=(graphWidth, graphWidth), dpi=80, facecolor='w', edgecolor='k')
    corrMat = plt.matshow(corr, fignum = 1)
    plt.xticks(range(len(corr.columns)), corr.columns, rotation=90)
    plt.yticks(range(len(corr.columns)), corr.columns)
    plt.gca().xaxis.tick_bottom()
    plt.colorbar(corrMat)
    plt.title(f'Correlation Matrix for {filename}', fontsize=15)
    plt.show()

In [ ]:
# Scatter and density plots
def plotScatterMatrix(df, plotSize, textSize):
    df = df.select_dtypes(include =[np.number]) # keep only numerical columns
    # Remove rows and columns that would lead to df being singular
    df = df.dropna('columns')
    df = df[[col for col in df if df[col].nunique() > 1]] # keep columns where there are more than 1 unique values
    columnNames = list(df)
    if len(columnNames) > 10: # reduce the number of columns for matrix inversion of kernel density plots
        columnNames = columnNames[:10]
    df = df[columnNames]
    ax = pd.plotting.scatter_matrix(df, alpha=0.75, figsize=[plotSize, plotSize], diagonal='kde')
    corrs = df.corr().values
    for i, j in zip(*plt.np.triu_indices_from(ax, k = 1)):
        ax[i, j].annotate('Corr. coef = %.3f' % corrs[i, j], (0.8, 0.2), xycoords='axes fraction', ha='center', va='center', size=textSize)
    plt.suptitle('Scatter and Density Plot')
    plt.show()

In [ ]:
nRowsRead = 1000 # specify 'None' if want to read whole file
# food_access_research_atlas.csv may have more rows in reality, but we are only loading/previewing the first 1000 rows
df1 = pd.read_csv('FoodAccessResearchAtlasData2019.csv', nrows = nRowsRead)
df1.dataframeName = 'food_access_research_atlas.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')